[Desktop Entry]
Version=1.0
Type=Application
Name=Manjaro Gaming Control
Comment=Оптимизация и настройка игр для Manjaro Linux
Exec=/usr/bin/manjaro-gaming-control
Icon=manjaro-gaming-control
Terminal=false
Categories=System;Utility;Settings;
